$co-form-r: rgba(0, 0, 0, 0.55);
$co-form-g: rgba(0, 0, 0, 0.125);
$co-db: #212529;
$co-dg: #1E792C;
$co-dr: #C61610;
$co-dy: #C1A520;
$co-lg: #6c757d;
$co-lyt: #fff;

$root-form: 0.5rem;
$root-form-1: 0.25rem; 
$root-form-2: 0.375rem;
$root-form-3: 0.75rem;
$root-form-4: 1rem;
$root-form-5: 1.25rem;

$ali-cen: center;

 $max-per: 100%;

 $dis-f: flex;
 $dis-ib: inline-block;
