*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.na{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar, nav, ul, .menu {
    display: flex;
}
nav{
    justify-content: center; 
}
nav{
    background-color: #1E792C;
    padding: 0.5rem 0;
}
.navbar, .menu{
    align-items: center;
    flex-wrap: inherit;
}
.navbar{
    gap: 30px;
}
.logo{
    font-size: 1.25rem;
}
.menu{
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
ul{
    gap: 10px;
    list-style-type: none;
}
.item{
    color: rgba(0, 0, 0, 0.55);
}
.hf{
    text-align: center;
}
.txcl{
    color: #fff;
}
.head{
    background: url(/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pad{
    padding: 50px;
}
.cart{
    border: 1px solid #fff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}
h1{
    font-size: 3.5rem;
    font-weight: bolder;
}
p{
   
    font-size: 1.25rem;
}
section{
    overflow: hidden;
}
.container{
    width: 100%;
    height: auto;
    padding: 48px 0;
}
.wrapper{
    width: 100%;
    max-width: 1320px;
    margin: auto;
}
section{ 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 100%;
    max-width: 318px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 3rem !important;
}
.card_image{
    width:100%;
    max-width: 450px;
}
.card_body{
    padding: 1.5rem;
    flex: 1 1 auto;
}
.text-center{
    text-align: center !important;
}
.bold-text{
    font-weight: bolder;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
  }
  .text-decoration-line-through {
    text-decoration: line-through !important;
  }
  h4{ font-weight: 300;}
.card_footer{
    padding: 0px 24px 24px 24px;
}
.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-dark{
    color: #fff;
    background-color: #C61610;
    border-color: transparent;
  }
  .btn-outline-dark:hover {
    color: #fff;
    background-color: #1E792C;
    border-color: #212529;
    opacity: .9;
  }
  .bg-sale {
    background-color: #C1A520 ;
  }
  .position-absolute {
    position: absolute !important;
  }
  .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }


  .text-warning {
    color: rgb(255, 193, 7);
    opacity: 1;
  }
 
  .justify-content-center {
    justify-content: center !important;
  }
  .d-flex {
    display: flex !important;
  }
  small, .small {
    font-size: 20px;
  }

  *, ::before, ::after{
    box-sizing: border-box;
  }
  .bi-star-fill::before {
    content: "";
  }

  